*.o
*.avi
*.d
*.cpre
visitlog.py
*.f
*.mat
**/p/*
**/d/*
**/f/*
**/o/*
*.hdf5
*.pyc
*_F.H
*.pdf
*.mp4
*.dat
*.dummy
*.project
*.pydevproject
*.ex
*~
*pout.*
*time.table.*
**/.settings/*
*diagnostics.out
*diagnosticsLatest.out
**/oldInputs/*
**/execSubcycle/*/*
**/doc/latex/*
**/doc/html/*
!/doc/html/index.html
**/.idea/
**/.hg/*
**/execNonSubcycle/*/*
**/andrew-bug/*
**/test/poiseuilleFlow/output/*
*.cproject
*.tmp
*.eps
**/OldClasses/*
**/venv*/*
**/env/*
**/.venv/*
**/test/output/*
**/matlab/MethodsPaper/*.png
*.csv
/zzindex.html
*.ipynb_checkpoints*
/requirements (copy).txt
time.table
*.out