*.o
*.avi
*.d
*.cpre
visitlog.py
*.f
*.mat
**/p/*
**/d/*
**/f/*
**/o/*
*.hdf5
*.pyc
*_F.H
*.pdf
*.mp4
*.dat
*.dummy
*.project
*.pydevproject
*.ex
*~
*pout.*
*time.table.*
**/.settings/*
*.ex
*diagnostics.out
*diagnosticsLatest.out
**/oldInputs/*
**/execSubcycle/*/*
**/doc/latex/*
**/.idea/
**/.hg/*
**/execNonSubcycle/*/*

*.cproject
*.tmp
*.eps
**/OldClasses/*
**/venv*/*
**/env/*
**/matlab/MethodsPaper/*.png
*.csv
