*.o
*.png
*.avi
*.d
*.cpre
visitlog.py
*.f
*.mat
**/p/*
**/d/*
**/f/*
**/o/*
*.hdf5
*.pyc
*_F.H
*.pdf
*.mp4
*.dat
*.dummy
*.project
*.pydevproject
*~
*pout.*
*time.table.*
**/.settings/*
*.ex
*diagnostics.out
*diagnosticsLatest.out
**/oldInputs/*
**/execSubcycle/*/*
**/doc/html/*
**/doc/latex/*
**/.idea/
**/.hg/*

*.cproject
*.tmp
*.eps
