chombopy
colorama==0.4.3
coverage==5.0.3
cycler==0.10.0
geopandas==0.6.2
h5py==2.9.0
imageio==2.6.1
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
matplotlib==3.0.2
mock
notebook==6.4.1
numpy==1.16.0
pandas==0.24.0
pytest
pytest-html
scikit-image==0.16.2
scipy==1.2.0
Shapely==1.6.4.post2
xarray==0.11.3
