name: Development

on:
  push:
    branches:
      - '*'

# schedule:
#   # * is a special character in YAML so you have to quote this string
#   # run at 23:59 every day
#   - cron:  '59 23 * * *'


env:
  CHOMBO_ROOT: /home/runner/chombo
  CHOMBO_HOME: /home/runner/chombo/lib
  HDF5_PATH: /home/runner/hdf5-dir
  LD_LIBRARY_PATH: /home/runner/hdf5-dir
  TEST_RESULTS: /home/runner/work/mushy-layer/mushy-layer/test/results


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Info
      run: |
        echo $CHOMBO_HOME
        echo $HOME
        echo $LD_LIBRARY_PATH
        echo $GITHUB_WORKSPACE
        
    - name: Install csh
      run: sudo apt-get install csh
    
    - name: Install gfortran
      run: sudo apt-get install gfortran
        
    - name: Install lbas etc.
      run: sudo apt-get install libblas-dev liblapack-dev

    - name: Check package versions
      run: |
        which gfortran
        gfortran --version
        
        which make
        make --version
        
        which g++
        g++ --version
        
        which perl
        perl --version
                
    - name: Cache HDF5
      id: cache-hdf5v2
      uses: actions/cache@v1
      with:
        path: /home/runner/hdf5-dir
        key: ${{ runner.os }}-hdf5v2

    - name: Download and install HDF5
      if: steps.cache-hdf5v2.outputs.cache-hit != 'true'
      run: |
        wget https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8/hdf5-1.8.21/src/hdf5-1.8.21.tar.gz
        tar -zxvf hdf5-1.8.21.tar.gz
        ls
        cd hdf5-1.8.21
        ./configure --prefix=$HDF5_PATH
        make
        make install
        
    # - name: Cache Chombo
    #   id: cache-chombov2
    #   uses: actions/cache@v1
    #   with:
    #     path: /home/runner/chombo
    #     key: ${{ runner.os }}-chombov2

    # - name: Download Chombo
    #   if: steps.cache-chombov2.outputs.cache-hit != 'true'
    #   run: svn --username ${{ secrets.SVN_USERNAME }} --password ${{ secrets.SVN_PASSWORD }} co https://anag-repo.lbl.gov/svn/Chombo/release/3.2  $CHOMBO_ROOT


    # - name: Verify 
    #   run: |
    #     echo "$HDF5_PATH:"
    #     ls $HDF5_PATH
    #     echo "---------------------------"
    #     echo "$CHOMBO_HOME"
    #     ls $CHOMBO_HOME
           
    # - name: Install Chombo
    #   run: |
    #     cp $GITHUB_WORKSPACE/mk/Make.defs.local.github $CHOMBO_HOME/mk/Make.defs.local
    #     cd $CHOMBO_HOME
    #     make lib

    # - name: Build mushy-layer
    #   run: |
    #     cd $GITHUB_WORKSPACE/execSubcycle
    #     make all
        
  regression:
    name: Regression tests
    needs: build    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        cd $GITHUB_WORKSPACE
        ls
        python -m pip install --upgrade pip
        pip install -r requirements.txt

#     - name: Setup test output
#       run: |
#         mkdir -p $TEST_RESULTS
#         echo hello > $TEST_RESULTS/world.txt

    - name: Run regressions
      run: |
         cd $GITHUB_WORKSPACE/test/regression
         python run_regression_tests.py

    - uses: actions/upload-artifact@v1
      with:
        name: test-results
        path: ./

    

